table{
 border: 1px solid #c0c0c0;
 border-collapse: collapse;
}
td,th{
  padding:15px;
  border: 1px solid #fff;
}
th {
  background: rgb(0, 0, 0);
  color: chartreuse;

}
td {
  background-color:silver;
  color: red;
}
